.NavItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavItem a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  transition: 0.3s;
}

.NavItem a:hover {
  background-color: yellow;
  color: black;
}
