.MediaItems {
  width: 90%;
  /* margin: auto auto !important; */
  height: 70%;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
.MediaItems ul {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
  list-style: none;
}

.pictureOfModal {
  width: 70vw;
  height: 85vh;
}

@media only screen and (min-height: 0px) and (max-height: 500px) {
  .pictureOfModal {
    width: 92vw;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 25%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
  .pictureOfModal {
    width: 78vw;
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 20%;
  }
}

@media only screen and (min-width: 430px) and (max-width: 500px) {
  .pictureOfModal {
    width: 78vw;
    height: 55vh;
    position: absolute;
    left: 50%;
    top: 15%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .pictureOfModal {
    width: 78vw;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 10%;
  }
}
