/* appear - on page load */

.Modal-text-enter {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(15vw, -15vh);
  transition: all 0.75s ease;
}

.Modal-text-enter-active {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(15vw, 40vh);
}

.Modal-text-enter-done {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(15vw, 40vh);
}

.Modal-text-exit {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(15vw, -15vh);
  transition: all 0.75s ease;
}

.Modal-text-exit-active {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(15vw, -40vh);
}

.Modal-text-exit-done {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(15vw, -40vh);
}

/**/

.Modal-img-enter {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, -100vh);
  transition: all 0.75s ease;
}

.Modal-img-enter-active {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, 4vh);
}

.Modal-img-enter-done {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, 4vh);
}

.Modal-img-exit {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, 4vh);
  transition: all 0.75s ease;
}

.Modal-img-exit-active {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, -100vh);
}

.Modal-img-exit-done {
  position: fixed;
  z-index: 500;
  opacity: 1;
  transform: translate(-50%, -100vh);
}
