.Text {
  position: fixed;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -100vh);
  z-index: 500;
  animation: fadeInModal 1s ease-in forwards;
}
.Image {
  position: fixed;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -100vh);
  z-index: 500;
  animation: fadeInModal 1s ease-in forwards;
}

@keyframes fadeInModal {
  from {
    position: fixed;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-50%, -100vh);
    z-index: 500;
  }
  to {
    opacity: 1;
    transform: translate(-50%, -10vh);
  }
}
