.MediaItem {
  display: inline-block;
  padding: 2px 16px;
  box-shadow: 0 14px 24px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: 0.3s;
  margin: 6px;
  position: relative;
  width: 200px;
  height: 150px;
}
.MediaItem img {
  width: 150px;
  height: 120px;
}
.MediaItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.MediaItem h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
