.MediaItems {
  width: 90%;
  height: 70%;
  /* border: 3px solid black; */
  margin: auto auto !important;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
}
.MediaItems ul {
  display: flex;
  list-style: none;
}
