.Home {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

.Home > * {
  padding: 10px;
}

.Home button {
  margin-right: 15px;
}

.TextOfModal {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  width: 70vw;
}
